@charset "utf-8";
html {
  color: #46526f;
  background: #fff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
select,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
button,
caption,
cite,
code,
dfn,
em,
input,
optgroup,
option,
select,
strong,
textarea,
th,
var {
  font: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
legend {
  color: #000;
}
input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*Font*/
.scrolldown span,
h2.quiz,
h2.info,
h1.cate,
h1.tag,
h1.new,
h1.author,
body #post-single h1,
#post-single h2,
#post-single h3,
#post-single h4,
#post-single .awasete .awasete-title,
.imp .box-title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.gmenuAbout,
.gmenuBlog,
.gmenuService,
.gmenuContact,
.prev-text,
.next-text,
h2#related,
#header .inner .desc {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*html {visibility: hidden;}html.wf-active {visibility: visible;}*/
.pc {
  display: none;
}
body {
  font-size: 14px;
  line-height: 24px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#wapper {
  background-color: #f7f8f8;
}
#contents900,
#contents {
  padding-bottom: 25px;
}
.inner-con{
  margin-left: 20px;
  margin-right: 20px;
}
#main {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
}
a {
  color: #031b4e;
  text-decoration: none;
}
a:hover {
  color: #444444;
  text-decoration: underline;
}
strong {
  font-weight: bold;
}

/*pan
================================================================================================*/
#pan {
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  margin-top: 70px;
  border-top: 1px solid #f7f8f8;
  border-bottom: 1px solid #f7f8f8;
}
#pan span.home {
  background-image: url(../images/icon/home_bk.png);
  background-size: 15px auto;
  background-repeat: no-repeat;
  padding-left: 18px;
  background-position: left center;
}
#pan .inner {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  box-sizing: border-box;
  /* IE, Edge 対応 */
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;
}
#pan .inner ul li {
  float: left;
  margin-right: 5px;
}

#page-title {
  width: 100%;
  height: 150px;
  background-image: url(../images/bg_page.jpg);
  background-size: auto 100%;
  background-position: center;
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
}
#page-title .title {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}
#page-title .slug {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}

#post-single ul.post-info {
  margin-bottom: 10px;
  margin-top: 20px;
}

.youtube100,
.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.youtube100 iframe,
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 680px) {
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  #menu-btn {
    display: none;
  }
  body {
    font-size: 14px;
    line-height: 24px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
  }

  #main {
    width: 750px;
    float: left;
    margin-left: 0px;
    box-sizing: border-box;
    margin-right: 0px;
    padding-top: 0px;
  }

  #pan {
    height: 40px;
    line-height: 40px;
    margin-top: 60px;
  }

  #pan .inner {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
  }

  
  #contents {
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
  }
  #contents900{
    width: 900px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
  }
  .inner-con{
    width:100%;
		padding: 50px;
		box-sizing: border-box;
		background-color: #FFFFFF;
		border-radius: 10px;
  }
  #page-title {
    width: 100%;
    height: 300px;
    background-image: url(../images/bg_page.jpg);
    background-size: auto 100%;
    background-position: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 100px;
  }
  #page-title .title {
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    font-weight: bold;
  }
  #page-title .slug {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
  }

  .youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .youtube100 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .youtube100 iframe,
  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*==============================================================================================*/
/*header*/
/*==============================================================================================*/

#header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.95);
  transition-duration: 0.3s;
}
#header .inner {
  width: 100%;
  height: 70px;
  position: relative;
  margin: 0 auto;
}
.logo {
  position: absolute;
  top: 25px;
  left: 22px;
  font-size: 24px;
  font-weight: bold;
}

#header .message,
ul.global-menu {
  display: none;
}
@media only screen and (min-width: 680px) {
  #header {
    height: 60px;
    top: 0px;
  }
  #header .inner {
    width: 1100px;
    height: 60px;
  }
  .logo {
    top: 15px;
    left: 0;
  }
  #header .message {
    display: block;
    position: absolute;
    top: 18px;
    left: 160px;
    font-size: 14px;
    font-weight: bold;
    color: #1433d6;
  }

  ul.global-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
    width: 450px;
    font-weight: bold;
  }
  ul.global-menu li {
    display: inline;
    margin-right: 30px;
  }
  ul.global-menu li:last-child {
    margin-right: 0;
  }
}

/*==============================================================================================*/
/*footer*/
/*==============================================================================================*/
#footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
#footer #copy {
  text-align: center;
  font-size: 12px;
}
.ft-menu {
  display: none;
}
#stt {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 45px;
  width: 45px;
}
#stt img {
  width: 100%;
  vertical-align: bottom;
}
@media only screen and (min-width: 680px) {
  #footer {
    padding: 0;
    border-top: 1px solid #f7f8f8;
  }
  #footer .inner {
    width: 1100px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  #footer #copy {
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    font-size: 11px;
    letter-spacing: 1px;
  }
  #footer .ft-menu {
    display: block;
    position: absolute;
    top: 40px;
    left: 330px;
    font-size: 11px;
  }
  #footer .ft-menu li {
    display: inline;
    margin: 0 15px 0 0;
    letter-spacing: 1px;
  }
  #footer .ft-menu a {
    color: #46526f;
  }
  #stt {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 10000;
  }
  #stt img {
    width: 100%;
    vertical-align: bottom;
  }

  #stt a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #1433d6;
    transition-duration: 0.2s;
    background-image: url("/wp/wp-content/themes/aisiteru/images/icon/top_up_icon.png");
    background-size: 45% auto;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
