@charset "utf-8";
/*easy-contents
===================================================================*/
#pageDisplay {
	z-index:100;
	cursor: pointer;
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.9);
}

#slide-inner{
	overflow: auto;
	overflow-x: hidden;
	height: 100%;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:0;
	-webkit-overflow-scrolling: touch;
}




#easy-contents{
	font-size:12px;
	padding-bottom:50px;
	line-height:20px;
}
/*
#easy-contents h2{
	font-weight:bold;
	font-size:18px;
	margin-bottom:5px;
	text-align:center;
}*/

#easy-contents h2{
	margin-bottom:25px;
	border: 1px dashed #cccccc;
	font-size:16px;
	font-weight:bold;
	padding:10px;
	box-sizing: border-box;
	background-color: rgba(255,255,255,1.0);
	margin-top:0;
}

#easy-contents strong {
	color:#3C3;
}

#easy-contents table {
  border-collapse: collapse;
  font-size:12px;
  line-height:14px;
  width:100%;
}
#easy-contents table th, td {
  border: 1px solid #cccccc;
  padding: 5px;
}
#easy-contents table td{
	background-color:#FFF;
}
#easy-contents table th{
	text-align:center;
    color: #444444;
}

#easy-contents #koushien-contents h2{
	margin-bottom:10px;
	/*border: 1px solid #cccccc;*/
	border:none;
	font-size:16px;
	padding:10px;
	box-sizing: border-box;
	/*background-color: rgba(255,255,255,1.0);*/
	background-color:#EEEEEE;
	text-align:center;
	margin-top:0;
}

#easy-contents #koushien-contents h3{
	margin-top:20px;
	border-left:none;
	border-bottom: 1px solid #cccccc;
	margin-bottom:10px;
	padding-bottom:5px;
	font-size:14px;
	background-image:url(../images/icon/baseball.png);
	background-repeat:no-repeat;
	background-size:14px auto;
	padding-left:20px;
	background-position:0 12px;
	
}
#easy-contents #koushien-contents ul#data{
	font-size:12px;
}

#easy-contents #koushien-contents table.senseki{
	width:100%;
	margin-top:10px;
}

#easy-contents #koushien-contents table.senseki th{
	background-color:#f7f8f8;
	font-weight:bold;
}
#easy-contents #koushien-contents table.senseki td,
#easy-contents #koushien-contents table.other td{
	padding:3px;
}

#easy-contents #koushien-contents table.senseki td.score,
#easy-contents #koushien-contents table.senseki td.make,
#easy-contents #koushien-contents table.senseki td.kachi{
	text-align:center;
}
#easy-contents #koushien-contents table.senseki td.make img,
#easy-contents #koushien-contents table.senseki td.kachi img{
	margin-top:2px;
	width:15px;
	height:auto;
}
#easy-contents #koushien-contents table.other th{
	background-color:#f7f8f8;
	font-weight:bold;
}


#loading{
	text-align:center;
	margin-top:30px;
}
#loading img {
	width:30px;
	height:auto;
}
#loading .message{
	text-align:center;
}
#loading .message {
	font-size:14px;
	font-weight:bold;
	margin-bottom:7px;
}
#loading .message {
  animation: blinkAnime 0.5s infinite alternate;
}
@keyframes blinkAnime{
   0% { color: #ffffff }
 100% { color: #444444 }
}
@media only screen and (min-width: 680px) {
/*easy-contents
===================================================================*/
#pageDisplay {
z-index:100;
cursor: pointer;
position: fixed;
top: 0;
right: -450px;
width: 400px;
height: auto;
/*border-left: 3px solid #cccccc;*/
background-color: rgba(255,255,255,0.9);
-webkit-box-shadow: -3px 0px 3px -1px rgba(0,0,0,0.31);
-moz-box-shadow: -3px 0px 3px -1px rgba(0,0,0,0.31);
box-shadow: -3px 0px 3px -1px rgba(0,0,0,0.31);

}
#slide-inner{
	overflow: auto;
	overflow-x: hidden;
	height: auto;
	padding:30px;
}
#easy-contents{
	font-size:14px;
	padding-bottom:50px;
	line-height:20px;
}
#easy-contents h3{margin-top:15px;}
#loading img {width:60px;}
}
