@charset "utf-8";

h2.quiz,
h2.info,
h1.cate,
h1.tag,
h1.new,
h1.author {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: #f7f8f8;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 24px auto;
  background-position: 10px center;
  padding-left: 42px;
}
h1.cate {
  background-image: url(../images/icon/folder_bl.png);
}
h1.tag {
  background-image: url(../images/icon/tag_bl.png);
}
h1.new {
  background-image: url(../images/icon/new_gr.png);
}
h1.author {
  background-image: url(../images/icon/man_bk.png);
}

@media only screen and (min-width: 680px) {
}
